        <!--Brand One Start-->
        <section class="brand-one">
            <div class="brand-one-bg" style="background-image: url(assets/images/backgrounds/brand-one-bg.png)"></div>
            <div class="brand-one__container">
                <div class="thm-swiper__slider swiper-container" data-swiper-options='{"loop": true, "spaceBetween": 0, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                    "0": {
                        "slidesPerView": 2
                    },
                    "375": {
                        "slidesPerView": 2
                    },
                    "575": {
                        "slidesPerView": 2
                    },
                    "767": {
                        "slidesPerView": 3
                    },
                    "991": {
                        "slidesPerView": 4
                    },
                    "1199": {
                        "slidesPerView": 5
                    }
                }}'>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="brand-one__img">
                                <img src="assets/images/brand/brand_1_img_1.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-one__img">
                                <img src="assets/images/brand/brand_1_img_2.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-one__img">
                                <img src="assets/images/brand/brand_1_img_3.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-one__img">
                                <img src="assets/images/brand/brand_1_img_4.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="brand-one__img">
                                <img src="assets/images/brand/brand_1_img_5.png" alt="">
                            </div>
                        </div>
                    </div><!-- /.swiper-wrapper -->
                </div>
            </div>
        </section>
        <!--Brand One End-->
