        <!--Gallery One Start-->
        <section class="gallery-one">
            <div class="gallery-one__container-box clearfix">
                <div class="thm-swiper__slider swiper-container gallery-one__content" data-swiper-options='{"spaceBetween": 20, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                    "0": {
                        "spaceBetween": 10,
                        "slidesPerView": 1
                    },
                    "375": {
                        "spaceBetween": 20,
                        "slidesPerView": 1
                    },
                    "575": {
                        "spaceBetween": 20,
                        "slidesPerView": 2
                    },
                    "767": {
                        "spaceBetween": 20,
                        "slidesPerView": 3
                    },
                    "991": {
                        "spaceBetween": 20,
                        "slidesPerView": 4
                    },
                    "1199": {
                        "spaceBetween": 20,
                        "slidesPerView": 5
                    }
                }}'>
                    <!-- swiper wrapper start -->
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="gallery-one__img-box">
                                <img src="assets/images/gallery/gallery_one_img_1.jpg" alt="">
                                <div class="gallery-one__iocn">
                                    <a href="assets/images/gallery/gallery_one_img_1.jpg" class="img-popup"><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-one__img-box">
                                <img src="assets/images/gallery/gallery_one_img_2.jpg" alt="">
                                <div class="gallery-one__iocn">
                                    <a href="assets/images/gallery/gallery_one_img_2.jpg" class="img-popup"><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-one__img-box">
                                <img src="assets/images/gallery/gallery_one_img_3.jpg" alt="">
                                <div class="gallery-one__iocn">
                                    <a href="assets/images/gallery/gallery_one_img_3.jpg" class="img-popup"><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-one__img-box">
                                <img src="assets/images/gallery/gallery_one_img_4.jpg" alt="">
                                <div class="gallery-one__iocn">
                                    <a href="assets/images/gallery/gallery_one_img_4.jpg" class="img-popup"><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="gallery-one__img-box">
                                <img src="assets/images/gallery/gallery_one_img_5.jpg" alt="">
                                <div class="gallery-one__iocn">
                                    <a href="assets/images/gallery/gallery_one_img_5.jpg" class="img-popup"><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.swiper-wrapper -->
                </div>
                <!-- end .swiper-container -->
            </div>
        </section>
        <!--Gallery One End-->
