        <!--Join One Start-->
        <section class="join-one jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%"
            style="background-image: url(assets/images/backgrounds/join_one_bg.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="join-one__inner">
                            <div class="join-one__icon">
                                <span class="icon-helping-hand"></span>
                            </div>
                            <h2>Join the Helpers Group</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Join One End-->
