<!--Make Donation Two Start-->
<section class="make-donation-two">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="make-donation-two__left">
                    <div class="block-title text-left">
                       <h4>Make a Donation</h4>
                       <h2>We Make a Difference in their Life</h2>
                    </div>
                    <p class="make-donation-two__text">Tincidunt elit magnis nulla facilisis sagittis is maecenas. Sapien nunced amet ultrices, dolores sit ipsum velit purus aliquet, massa fringilla leo orci.</p>
                    <div class="make-donation-two__progress">
                        <div class="make-donation-two__progress-single">
                           <h4 class="make-donation-two__progress-title">Funding</h4>
                            <div class="bar">
                                <div class="bar-inner count-bar" data-percent="83%">
                                    <div class="count-text">83%</div>
                                </div>
                            </div>
                        </div>
                        <div class="make-donation-two__progress-single">
                           <h4 class="make-donation-two__progress-title">Donations</h4>
                            <div class="bar mrb-0">
                                <div class="bar-inner count-bar" data-percent="66%">
                                    <div class="count-text">66%</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="make-donation-two__right">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6">
                            <div class="make-donation-two__single-img">
                                <img src="assets/images/resources/make-donation-two-img-1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6">
                            <div class="make-donation-two__single-img">
                                <img src="assets/images/resources/make-donation-two-img-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Make Donation Two End-->