        <!--News One Start-->
        <section class="news-one">
            <div class="news-one-bg" style="background-image: url(assets/images/backgrounds/news_one_bg.jpg)"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="block-title text-left">
                            <h4>From the Blog</h4>
                            <h2>News & Articles</h2>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="news-one__top-text">
                            <p>There are many variations of passages of lorem available but the majority have suffered
                                in some form.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4">
                        <!--News One Single-->
                        <div class="news-one__single wow fadeInUp" data-wow-delay="100ms">
                            <div class="news-one__img">
                                <div class="news-one__img-box">
                                    <img src="assets/images/blog/news_one_img_1.jpg" alt="">
                                    <a href="news-details.html"></a>
                                </div>
                                <div class="news-one__date-box">
                                    <p>23 <br> Dec</p>
                                </div>
                            </div>
                            <div class="news-one__content">
                                <ul class="list-unstyled news-one__meta">
                                    <li><a href="#"><i class="far fa-user-circle"></i> Admin</a></li>
                                    <li><span>/</span></li>
                                    <li><a href="#"><i class="far fa-comments"></i> 2 Comments</a>
                                    </li>
                                </ul>
                                <div class="news-one__title">
                                    <h3><a href="news-details.html">How Does Malnutrition Affect Children?</a></h3>
                                </div>
                                <a href="news-details.html" class="thm-btn news-one__btn">More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <!--News One Single-->
                        <div class="news-one__single wow fadeInUp" data-wow-delay="200ms">
                            <div class="news-one__img">
                                <div class="news-one__img-box">
                                    <img src="assets/images/blog/news_one_img_2.jpg" alt="">
                                    <a href="news-details.html"></a>
                                </div>
                                <div class="news-one__date-box">
                                    <p>23 <br> Dec</p>
                                </div>
                            </div>
                            <div class="news-one__content">
                                <ul class="list-unstyled news-one__meta">
                                    <li><a href="#"><i class="far fa-user-circle"></i> Admin</a></li>
                                    <li><span>/</span></li>
                                    <li><a href="#"><i class="far fa-comments"></i> 2 Comments</a>
                                    </li>
                                </ul>
                                <div class="news-one__title">
                                    <h3><a href="news-details.html">Leverage agile frameworks to provide a.</a></h3>
                                </div>
                                <a href="news-details.html" class="thm-btn news-one__btn">More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <!--News One Single-->
                        <div class="news-one__single wow fadeInUp" data-wow-delay="300ms">
                            <div class="news-one__img">
                                <div class="news-one__img-box">
                                    <img src="assets/images/blog/news_one_img_3.jpg" alt="">
                                    <a href="news-details.html"></a>
                                </div>
                                <div class="news-one__date-box">
                                    <p>23 <br> Dec</p>
                                </div>
                            </div>
                            <div class="news-one__content">
                                <ul class="list-unstyled news-one__meta">
                                    <li><a href="#"><i class="far fa-user-circle"></i> Admin</a></li>
                                    <li><span>/</span></li>
                                    <li><a href="#"><i class="far fa-comments"></i> 2 Comments</a>
                                    </li>
                                </ul>
                                <div class="news-one__title">
                                    <h3><a href="news-details.html">Bring to the table win-win survival strategies.</a>
                                    </h3>
                                </div>
                                <a href="news-details.html" class="thm-btn news-one__btn">More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--News One End-->
