        <!--Newsletter One Start-->
        <section class="newsletter-one">
            <div class="container">
                <div class="newsletter-one__inner">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="newsletter-one__left">
                                <div class="newsletter-one__subscriber-box">
                                    <div class="icon">
                                        <span class="icon-news"></span>
                                    </div>
                                    <div class="text">
                                        <p>Subscribe</p>
                                        <h4>Newsletter</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8">
                            <div class="newsletter-one__right">
                                <form action="#" class="newsletter-one__subscribe-form">
                                    <div class="newsletter-one__subscribe-input-box">
                                        <input type="email" name="email" placeholder="Enter email address">
                                        <button type="submit" class="button">Subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Newsletter One End-->
