        <!--Popular Causes Start-->
        <section class="popular-causes">
            <div class="container">
                <div class="block-title text-left">
                    <h4>Help the People</h4>
                    <h2>Our Popular Causes</h2>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div id="id02" class="popular-causes__carousel owl-theme owl-carousel">
                                <div id="id01"></div>


                            <!--Popular Causes Single-->
                            <div class="popular-causes__sinlge">
                                <div class="popular-causes__img">
                                    <img src="assets/images/resources/popular-causes-img-1.jpg" alt="">
                                    <div class="popular-causes__category">
                                        <p>Food</p>
                                    </div>
                                </div>
                                <div class="popular-causes__content">
                                    <div class="popular-causes__title">
                                        <h3><a href="campaign-details.html">Raise Fund for Clean & Healthy Water</a>
                                        </h3>
                                        <p>Aliq is notm hendr erit a augue insu image pellen tes.</p>
                                    </div>
                                    <div class="popular-causes__progress">
                                        <div class="bar">
                                            <div class="bar-inner count-bar" data-percent="36%">
                                                <div class="count-text">36%</div>
                                            </div>
                                        </div>
                                        <div class="popular-causes__goals">
                                            <p><span>$25,270</span> Raised</p>
                                            <p><span>$30,000</span> Goal</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Popular Causes Single-->
                            <div class="popular-causes__sinlge">
                                <div class="popular-causes__img">
                                    <img src="assets/images/resources/popular-causes-img-2.jpg" alt="">
                                    <div class="popular-causes__category">
                                        <p>Education</p>
                                    </div>
                                </div>
                                <div class="popular-causes__content">
                                    <div class="popular-causes__title">
                                        <h3><a href="campaign-details.html">Education for Poor Children</a>
                                        </h3>
                                        <p>Aliq is notm hendr erit a augue insu image pellen tes.</p>
                                    </div>
                                    <div class="popular-causes__progress">
                                        <div class="bar">
                                            <div class="bar-inner count-bar" data-percent="36%">
                                                <div class="count-text">36%</div>
                                            </div>
                                        </div>
                                        <div class="popular-causes__goals">
                                            <p><span>$25,270</span> Raised</p>
                                            <p><span>$30,000</span> Goal</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Popular Causes Single-->
                            <div class="popular-causes__sinlge">
                                <div class="popular-causes__img">
                                    <img src="assets/images/resources/popular-causes-img-3.jpg" alt="">
                                    <div class="popular-causes__category">
                                        <p>Food</p>
                                    </div>
                                </div>
                                <div class="popular-causes__content">
                                    <div class="popular-causes__title">
                                        <h3><a href="campaign-details.html">Promoting The Rights of Children</a>
                                        </h3>
                                        <p>Aliq is notm hendr erit a augue insu image pellen tes.</p>
                                    </div>
                                    <div class="popular-causes__progress">
                                        <div class="bar">
                                            <div class="bar-inner count-bar" data-percent="36%">
                                                <div class="count-text">36%</div>
                                            </div>
                                        </div>
                                        <div class="popular-causes__goals">
                                            <p><span>$25,270</span> Raised</p>
                                            <p><span>$30,000</span> Goal</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Popular Causes Single-->
                            <div class="popular-causes__sinlge">
                                <div class="popular-causes__img">
                                    <img src="assets/images/resources/popular-causes-img-4.jpg" alt="">
                                    <div class="popular-causes__category">
                                        <p>Education</p>
                                    </div>
                                </div>
                                <div class="popular-causes__content">
                                    <div class="popular-causes__title">
                                        <h3><a href="campaign-details.html">School Counseling for Children</a>
                                        </h3>
                                        <p>Aliq is notm hendr erit a augue insu image pellen tes.</p>
                                    </div>
                                    <div class="popular-causes__progress">
                                        <div class="bar">
                                            <div class="bar-inner count-bar" data-percent="36%">
                                                <div class="count-text">36%</div>
                                            </div>
                                        </div>
                                        <div class="popular-causes__goals">
                                            <p><span>$25,270</span> Raised</p>
                                            <p><span>$30,000</span> Goal</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            var xmlhttp = new XMLHttpRequest();
            var url = "https://volunteerbanknode.herokuapp.com/api/json/events";
            
            xmlhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var myArr = JSON.parse(this.responseText);
                    myFunction(myArr);
                }
            };
            xmlhttp.open("GET", url, true);
            xmlhttp.send();
            
            function myFunction(arr) {
                var out = "";
                var i;
                for(i = 0; i < arr.length; i++) {
                    out += '<div class="popular-causes__sinlge">'+
                        '<div class="popular-causes__img">'+
                            '<img src="' + arr[i].image_url + '" alt="">'+
                            '<div class="popular-causes__category">'+
                            '<p>' + arr[i].campaigncat[0] + '</p>'+
                            '</div></div>'+
                            '<div class="popular-causes__content">'+
                            '<div class="popular-causes__title"><h3>'+
                            '<a href="' + arr[i].url[0] + '">' + arr[i].title + '</a>'+
                            '</h3>' + arr[i].description + '</div>'+
                            '<div class="popular-causes__progress">'+
                            '<div class="bar">'+
                            '<div class="bar-inner count-bar" data-percent="36%">'+
                            '<div class="count-text">36%</div>'+
                            '</div></div>'+
                            '<div class="popular-causes__goals">'+
                            '<p><span>$' + arr[i].campaignraised + '</span> Raised</p>'+
                            '<p><span>$' + arr[i].campaigngoal + '</span> Goal</p>'+
                            '</div></div></div>';
                }
                document.getElementById("id02").innerHTML = out;
            }
            </script>
        <!--Popular Causes One End-->
