<!--Testimonials One Start-->
        <section class="testimonials-one">
            <div class="testimonials-one-bg"
                style="background-image: url(assets/images/backgrounds/testimonials_one_bg.jpg)"></div>
            <div class="testimonials-one__container-box">
                <div class="block-title text-center">
                    <h4>Happy People</h4>
                    <h2>What They Say</h2>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100, "slidesPerView": 4, "autoplay": { "delay": 5000 }, "pagination": {
                "el": "#testimonials-one__pagination",
                "type": "bullets",
                "clickable": true
              },
              "navigation": {
                "nextEl": ".latest_properties_next",
                "prevEl": ".latest_properties_prev",
                "clickable": true
            },
            "breakpoints": {
                "0": {
                    "spaceBetween": 30,
                    "slidesPerView": 1
                },
                "425": {
                    "spaceBetween": 30,
                    "slidesPerView": 1
                },
                "575": {
                    "spaceBetween": 30,
                    "slidesPerView": 1
                },
                "767": {
                    "spaceBetween": 30,
                    "slidesPerView": 2
                },
                "991": {
                    "spaceBetween": 20,
                    "slidesPerView": 3
                },
                "1289": {
                    "spaceBetween": 30,
                    "slidesPerView": 3
                },
                "1440": {
                    "spaceBetween": 30,
                    "slidesPerView": 3
                }
            }}'>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <!--Testimonials One Single-->
                                    <div class="testimonials-one__single">
                                        <div class="testimonials-one__quote">
                                            <img src="assets/images/testimonials/testimonials-one-icon-1.png" alt="">
                                        </div>
                                        <div class="testimonials-one__text">
                                            <p>There are many variations of passages of lorem ipsum available but the
                                                majority have suffered alteration in some form.</p>
                                            <h3>- Kevin Martin</h3>
                                        </div>
                                        <div class="testimonials-one__author-img">
                                            <img src="assets/images/testimonials/testimonials_one_au_img_1.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <!--Testimonials One Single-->
                                    <div class="testimonials-one__single">
                                        <div class="testimonials-one__quote">
                                            <img src="assets/images/testimonials/testimonials-one-icon-1.png" alt="">
                                        </div>
                                        <div class="testimonials-one__text">
                                            <p>There are many variations of passages of lorem ipsum available but the
                                                majority have suffered alteration in some form.</p>
                                            <h3>- Jessica Brown</h3>
                                        </div>
                                        <div class="testimonials-one__author-img">
                                            <img src="assets/images/testimonials/testimonials_one_au_img_2.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <!--Testimonials One Single-->
                                    <div class="testimonials-one__single">
                                        <div class="testimonials-one__quote">
                                            <img src="assets/images/testimonials/testimonials-one-icon-1.png" alt="">
                                        </div>
                                        <div class="testimonials-one__text">
                                            <p>There are many variations of passages of lorem ipsum available but the
                                                majority have suffered alteration in some form.</p>
                                            <h3>- David Cooper</h3>
                                        </div>
                                        <div class="testimonials-one__author-img">
                                            <img src="assets/images/testimonials/testimonials_one_au_img_3.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <!--Testimonials One Single-->
                                    <div class="testimonials-one__single">
                                        <div class="testimonials-one__quote">
                                            <img src="assets/images/testimonials/testimonials-one-icon-1.png" alt="">
                                        </div>
                                        <div class="testimonials-one__text">
                                            <p>There are many variations of passages of lorem ipsum available but the
                                                majority have suffered alteration in some form.</p>
                                            <h3>- Kevin Martin</h3>
                                        </div>
                                        <div class="testimonials-one__author-img">
                                            <img src="assets/images/testimonials/testimonials_one_au_img_1.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <!--Testimonials One Single-->
                                    <div class="testimonials-one__single">
                                        <div class="testimonials-one__quote">
                                            <img src="assets/images/testimonials/testimonials-one-icon-1.png" alt="">
                                        </div>
                                        <div class="testimonials-one__text">
                                            <p>There are many variations of passages of lorem ipsum available but the
                                                majority have suffered alteration in some form.</p>
                                            <h3>- Jessica Brown</h3>
                                        </div>
                                        <div class="testimonials-one__author-img">
                                            <img src="assets/images/testimonials/testimonials_one_au_img_2.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination" id="testimonials-one__pagination"></div>
                    </div>
                </div>
            </div>
        </section>
        <!--Testimonials One End-->
