        <!--Three Icon Start-->
        <section class="feature-one">
            <div class="container">
                <div class="feature-one__inner">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4">
                            <!--Three Icon Single-->
                            <div class="feature-one__single feature-one__single-first-item">
                                <div class="feature-one__icon-wrap">
                                    <div class="feature-one__icon-box">
                                        <span class="icon-heart"></span>
                                        <div class="feature-one__icon-box-img">
                                            <img src="assets/images/resources/three_iocn_box_bg.png" alt="">
                                        </div>
                                    </div>
                                    <div class="feature-one__icon-text-box">
                                        <h4>Become <br> Volunteer</h4>
                                    </div>
                                </div>
                                <p class="feature-one__icons-single-text">There are many of lorem Ipsum, but the majori
                                    have suffered alteration in some form.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <!--Three Icon Single-->
                            <div class="feature-one__single feature-one__single-second-item">
                                <div class="feature-one__icon-wrap">
                                    <div class="feature-one__icon-box feature-one__icon-box-two">
                                        <span class="icon-wallet-filled-money-tool"></span>
                                        <div class="feature-one__icon-box-img">
                                            <img src="assets/images/resources/three_iocn_box_bg-2.png" alt="">
                                        </div>
                                    </div>
                                    <div class="feature-one__icon-text-box">
                                        <h4>Quick <br> Fundraise</h4>
                                    </div>
                                </div>
                                <p class="feature-one__icons-single-text">There are many of lorem Ipsum, but the majori
                                    have suffered alteration in some form.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <!--Three Icon Single-->
                            <div class="feature-one__single feature-one__single-third-item">
                                <div class="feature-one__icon-wrap">
                                    <div class="feature-one__icon-box feature-one__icon-box-three">
                                        <span class="icon-charity"></span>
                                        <div class="feature-one__icon-box-img">
                                            <img src="assets/images/resources/three_iocn_box_bg-3.png" alt="">
                                        </div>
                                    </div>
                                    <div class="feature-one__icon-text-box">
                                        <h4>Start <br> Donating</h4>
                                    </div>
                                </div>
                                <p class="feature-one__icons-single-text">There are many of lorem Ipsum, but the majori
                                    have suffered alteration in some form.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Three Icon End-->
