        <!--Welcome One Start-->
        <section class="welcome-one" style="background-image: url(assets/images/backgrounds/welcome_one_bg.jpg)">
            <div class="welcome-one-hands"
                style="background-image:url(assets/images/backgrounds/welcome_one_hands.png)"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="welcome-one__left">
                            <div class="welcome-one__img wow slideInLeft" data-wow-delay="100ms">
                                <img src="assets/images/resources/welcome_one_img_1.jpg" alt="">
                                <div class="welcome-one__badge">
                                    <img src="assets/images/resources/welcome_one_badge.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="welcome-one__right">
                            <div class="block-title text-left">
                                <h4>Helping Today</h4>
                                <h2>Our Goal is to Help Poor People</h2>
                            </div>
                            <p class="welcome-one__text">Lorem ipsum dolor sit amet, consectetur notted adipisicing elit
                                sed do eiusmod tempor incididunt ut labore et simply free text dolore magna aliqua lonm
                                andhn.</p>
                            <ul class="welcome-one__list list-unstyled">
                                <li><span class="icon-confirmation"></span>Nsectetur cing do not elit.</li>
                                <li><span class="icon-confirmation"></span>Suspe ndisse suscipit sagittis in leo.</li>
                                <li><span class="icon-confirmation"></span>Entum estibulum dignissim lipsm posuere.</li>
                            </ul>
                            <div class="welcome-one__campaigns">
                                <div class="iocn">
                                    <span class="icon-donation"></span>
                                </div>
                                <div class="text">
                                    <h2 class="counter">86,700</h2>
                                    <p>Successfull Campaigns</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Welcome One End-->
