        <!--We Need Help Start-->
        <section class="we-need-help">
            <div class="we-nned-help-bg">
                <img src="assets/images/resources/we_need_help_bg.png" alt="">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6">
                        <div class="we-need-help__left">
                            <div class="block-title text-left">
                                <h4>Asked Quesitons</h4>
                                <h2>We Need Your Help</h2>
                            </div>
                            <div class="we-need-help__faqs">
                                <div class="accrodion-grp" data-grp-name="faq-one-accrodion">
                                    <div class="accrodion">
                                        <div class="accrodion-title">
                                            <h4>How to process the charity functions?</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>There are many variations of passages of available but the majority
                                                    have suffered alteration in that some form by words which don’t look
                                                    even as slightly believable now.</p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    <div class="accrodion active">
                                        <div class="accrodion-title">
                                            <h4>How to process the charity functions?</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>There are many variations of passages of available but the majority
                                                    have suffered alteration in that some form by words which don’t look
                                                    even as slightly believable now.</p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                    <div class="accrodion">
                                        <div class="accrodion-title">
                                            <h4>How to process the charity functions?</h4>
                                        </div>
                                        <div class="accrodion-content">
                                            <div class="inner">
                                                <p>There are many variations of passages of available but the majority
                                                    have suffered alteration in that some form by words which don’t look
                                                    even as slightly believable now.</p>
                                            </div><!-- /.inner -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="we-need-help__right">
                            <div class="we-need-help__img">
                                <img src="assets/images/resources/we_need_help_img.jpg" alt="">
                                <div class="we-need-help__give">
                                    <div class="icon">
                                        <span class="icon-charity-1"></span>
                                    </div>
                                    <div class="text">
                                        <h4>Let’s Give us your <br> Helping Hand</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--We Need Help End-->
