<!DOCTYPE html>
<html lang="en">

{% include indexhead.html %}

<body>

  {% include preloader.html %}  

    <div class="page-wrapper">

        <div class="site-header__header-one-wrap clearfix">
            <div class="container">

              {% include sitelogo.html %}

              {% include mainnav.html %}

            </div>
        </div>

        {% include mainslider.html %}

        {% include threeicon.html %}

        {% include welcome.html %}

        {% include popular.html %}

        {% include wedohelp.html %}

        {% include weneedhelp.html %}

        {% include testimonals.html %}

        {% include join1.html %}

        {% include newsletter1.html %}

        {% include news1.html %}

        {% include gallery1.html %}

        {% include brand1.html %}

        {% include sitefooter1.html %}

        {% include sitefooter.html %}

    </div><!-- /.page-wrapper -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    {% include mobilenav.html %}

    {% include searchpopup.html %}

    {% include ga.html %}

   {% include indexscript.html %}


</body>

</html>
