<!DOCTYPE html>
<html lang="en">

    {% include indexhead.html %}

<body>

    {% include preloader.html %} 

    <div class="page-wrapper">

        {% include siteheader.html %} 

        <!--Page Header Start-->
        <section class="page-header" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
            <div class="container">
                <div class="page-header__inner">
                    <h2>Events</h2>
                    <ul class="thm-breadcrumb list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><span>/</span></li>
                        <li>Events</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Page Header End-->

        <!--Event Page Start-->
        <section class="event-page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                        <!--Event Page Single-->
                        <div class="event-page__single">
                            <div class="event-page__img-box">
                                <div class="event-page__img">
                                    <img src="assets/images/event/event-page-img-1.jpg" alt="">
                                </div>
                                <div class="event-page__date">
                                    <p>23 <br> Dec</p>
                                </div>
                            </div>
                            <div class="event-page__content">
                                <h3 class="event-page__title"><a href="event-details.html">Mission for Fresh & Clean
                                        Water</a></h3>
                                <ul class="event-page__meta-box list-unstyled">
                                    <li><i class="far fa-clock"></i>04:00 am / 06:00 am</li>
                                    <li><i class="far fa-map"></i>66 broklyn Street, New York</li>
                                </ul>
                                <a href="event-details.html" class="thm-btn event-page__btn">More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                        <!--Event Page Single-->
                        <div class="event-page__single">
                            <div class="event-page__img-box">
                                <div class="event-page__img">
                                    <img src="assets/images/event/event-page-img-2.jpg" alt="">
                                </div>
                                <div class="event-page__date">
                                    <p>23 <br> Dec</p>
                                </div>
                            </div>
                            <div class="event-page__content">
                                <h3 class="event-page__title"><a href="event-details.html">Education for poor
                                        children</a></h3>
                                <ul class="event-page__meta-box list-unstyled">
                                    <li><i class="far fa-clock"></i>04:00 am / 06:00 am</li>
                                    <li><i class="far fa-map"></i>66 broklyn Street, New York</li>
                                </ul>
                                <a href="event-details.html" class="thm-btn event-page__btn">More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                        <!--Event Page Single-->
                        <div class="event-page__single">
                            <div class="event-page__img-box">
                                <div class="event-page__img">
                                    <img src="assets/images/event/event-page-img-3.jpg" alt="">
                                </div>
                                <div class="event-page__date">
                                    <p>23 <br> Dec</p>
                                </div>
                            </div>
                            <div class="event-page__content">
                                <h3 class="event-page__title"><a href="event-details.html">Rights for street
                                        childrens</a></h3>
                                <ul class="event-page__meta-box list-unstyled">
                                    <li><i class="far fa-clock"></i>04:00 am / 06:00 am</li>
                                    <li><i class="far fa-map"></i>66 broklyn Street, New York</li>
                                </ul>
                                <a href="event-details.html" class="thm-btn event-page__btn">More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                        <!--Event Page Single-->
                        <div class="event-page__single">
                            <div class="event-page__img-box">
                                <div class="event-page__img">
                                    <img src="assets/images/event/event-page-img-4.jpg" alt="">
                                </div>
                                <div class="event-page__date">
                                    <p>23 <br> Dec</p>
                                </div>
                            </div>
                            <div class="event-page__content">
                                <h3 class="event-page__title"><a href="event-details.html">Help for needy people</a>
                                </h3>
                                <ul class="event-page__meta-box list-unstyled">
                                    <li><i class="far fa-clock"></i>04:00 am / 06:00 am</li>
                                    <li><i class="far fa-map"></i>66 broklyn Street, New York</li>
                                </ul>
                                <a href="event-details.html" class="thm-btn event-page__btn">More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                        <!--Event Page Single-->
                        <div class="event-page__single">
                            <div class="event-page__img-box">
                                <div class="event-page__img">
                                    <img src="assets/images/event/event-page-img-5.jpg" alt="">
                                </div>
                                <div class="event-page__date">
                                    <p>23 <br> Dec</p>
                                </div>
                            </div>
                            <div class="event-page__content">
                                <h3 class="event-page__title"><a href="event-details.html">Donation day for people</a>
                                </h3>
                                <ul class="event-page__meta-box list-unstyled">
                                    <li><i class="far fa-clock"></i>04:00 am / 06:00 am</li>
                                    <li><i class="far fa-map"></i>66 broklyn Street, New York</li>
                                </ul>
                                <a href="event-details.html" class="thm-btn event-page__btn">More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="600ms">
                        <!--Event Page Single-->
                        <div class="event-page__single">
                            <div class="event-page__img-box">
                                <div class="event-page__img">
                                    <img src="assets/images/event/event-page-img-6.jpg" alt="">
                                </div>
                                <div class="event-page__date">
                                    <p>23 <br> Dec</p>
                                </div>
                            </div>
                            <div class="event-page__content">
                                <h3 class="event-page__title"><a href="event-details.html">Rise funds needy people
                                        food</a></h3>
                                <ul class="event-page__meta-box list-unstyled">
                                    <li><i class="far fa-clock"></i>04:00 am / 06:00 am</li>
                                    <li><i class="far fa-map"></i>66 broklyn Street, New York</li>
                                </ul>
                                <a href="event-details.html" class="thm-btn event-page__btn">More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center more-post__btn">
                    <a href="#" class="thm-btn">Load More</a>
                </div><!-- /.text-center -->
            </div>
        </section>
        <!--Event Page End-->

        <!--Site Footer One Start-->
        {% include sitefooter1.html %}

        {% include sitefooter.html %}

        <!--Site Footer Bottom End-->












    </div><!-- /.page-wrapper -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>






    {% include mobilenav.html %}

    {% include searchpopup.html %}

    {% include ga.html %}

   {% include indexscript.html %}

    <!-- template scripts -->
    <script src="assets/js/theme.js"></script>


</body>

</html>