<!DOCTYPE html>
<html lang="en">

    {% include indexhead.html %}

<body>

    {% include preloader.html %} 

    <div class="page-wrapper">

        {% include siteheader.html %} 

        {% include page-header1.html %} 

      {% include event-page.html %}

        <!--Site Footer One Start-->
        {% include sitefooter1.html %}

        {% include sitefooter.html %}

        <!--Site Footer Bottom End-->












    </div><!-- /.page-wrapper -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>






    {% include mobilenav.html %}

    {% include searchpopup.html %}

    {% include ga.html %}

   {% include indexscript.html %}

    <!-- template scripts -->
    <script src="assets/js/theme.js"></script>


</body>

</html>